{% extends 'base.html' %}

{% block title %}Iscritti{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-sm-8 offset-sm-2">
        <h1 class="display-4">Iscritti</h1>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-8 offset-sm-2">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Cognome</th>
                    <th class="text-center" scope="col">Nome</th>
                    <th class="text-center" scope="col">Corso</th>
                    <th class="text-center" scope="col">Stato Esame</th>
                    <th class="text-center" scope="col">Data Iscrizione</th>
                </tr>
            </thead>
            <tbody>
                {% for subscriber in data %}
                <tr class="subscriber" data-person-id="{{ subscriber[0] }}">
                    <td class="text-center">{{ subscriber[1] }}</td>
                    <td class="text-center">{{ subscriber[2] }}</td>
                    <td class="text-center">{{ subscriber[3] }}</td>
                    <td class="text-center">{{ subscriber[4] }}</td>
                    <td class="text-center">{{ subscriber[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}